<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>


	<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	
	
	<a href="/newbook">
	<button class="btn btn-success btn-lg">Lisää kirja</button>
	</a>
	
	<a href="/index">
	<button class="btn btn-warning btn-lg">Näytä indexrest</button>
	</a>
	
	<div class="col-md-4" style="padding:20px 0">
	<form th:action="@{/logout}" method="post">
	<input type="submit" value="Kirjaudu ulos" class="btn btn-danger btn-lg"/>
	</form>
	</div>
	
	
	<h1>Books</h1>
    <table class="table table-striped">
		<tr>
			<th>id</th>
			<th>Title</th>
		    <th>Author</th>
		    <th>Year</th>
		    <th>Isbn</th>
		    <th>Price</th>
		    <th>Category</th>
		    <th>Actions</th>
		    
		</tr>  
    	<tr th:each = "book : ${books}">
    		<td th:text="${book.id}"></td>
    		<td th:text="${book.title}"></td>
    		<td th:text="${book.author}"></td>
    		<td th:text="${book.year}"></td>
    		<td th:text="${book.isbn}"></td>
    		<td th:text="${book.price}"></td>
    		<td th:text="${book.category.name}"></td>
    		
    		
    		<td sec:authorize="hasAuthority('ADMIN')">
    		<a th:href="@{/removebook/{id}(id=${book.id})}">
    		<button class="btn btn-danger">Poista</button>
    		</a>
    		
    		
    		
    		<td>
    		<a th:href="@{/editbook/{id}(id=${book.id})}">
    		<button class="btn btn-primary">Päivitä</button>
    		</a>
    		</td>
 			    		
    	</tr>
     </table>
	 
	 
</body>
</html>