<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8 "/>
<link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<title>Insert book info</title>
</head>
<body>


<form method="post" action="#" th:action=@{/savebook} th:object=${kirja}>
<h1>book info</h1>


<label>Title:</label>
<br>
<input class="col-sm-2 form-control-sm"
 placeholder="Enter book title here"
 type="text"
 th:field=${kirja.title}
 name="title"
 id="title"/>
</br>


<label>Author:</label>
<br>
<input class="col-sm-2 form-control-sm"
placeholder="Enter name of the author here"
type="text"
th:field=${kirja.author}
name="author"
id="author"/>
</br>


<label>Year:</label>
<br>
<input class="col-sm-2 form-control-sm"
placeholder="Enter year of publication here"
type="number"
th:field=${kirja.year}
name="year"
id="year"/>
</br>

<label>Isbn:</label>
<br>
<input class="col-sm-2 form-control-sm"
placeholder="Enter book isbn here"
type="text"
th:field=${kirja.isbn}
name="isbn"
id="isbn"/>
</br>

<label>Price:</label>
<br>
<input class="col-sm-2 form-control-sm"
placeholder="Enter price of book here"
type="number"
th:field=${kirja.price}
name="price"
id="price"/>
</br>

<label for="catlist">Choose category:</label>
<br>
<select id="catlist" th:field="*{category}" class="form-control-sm col-sm-2">
<option th:each="category: ${categorys}" th:value="${category.categoryid}" th:text="${category.name}"></option>
</br>



<input class="btn btn-success" type="submit" value="Lähetä"/>

<input class="btn btn-success" type="reset" value="Reset" />


 
</form>
</body>
</html>