<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8 "/>
<title>Update book info</title>
</head>
<body>


<form method="post" action="#" th:action=@{../savebook} th:object=${kirja}>
<h1>Update book info</h1>

<input type="hidden" th:field="*{id}"/>

<label>Write new title:</label>
<br>
<input type="text" th:field=${kirja.title} name="title" id="title"/>
</br>

<label>Change name of author:</label>
<br>
<input type="text" th:field=${kirja.author} name="author" id="author"/>
</br>

<label>Write new year:</label>
<br>
<input type="number" th:field=${kirja.year} name="year" id="year"/>
</br>

<label>Write new isbn:</label>
<br>
<input type="text" th:field=${kirja.isbn} name="isbn" id="isbn"/>
</br>

<label>Write new price:</label>
<br>
<input type="number" th:field=${kirja.price} name="price" id="price"/>
</br>

<label for="catlist">Choose new category:</label>
<br>
<select id="catlist" th:field="*{category}" class="form-control">
<option th:each="category: ${categorys}" th:value="${category.categoryid}" th:text="${category.name}"></option>
</br>

<br>
<input type="submit" value="Tallenna"/>
</br>

 
</form>
</body>
</html>