<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>

	<h1>All books</h1>
	<a href="/books">
	<button class="btn btn-success btn-lg">Näytä kaikki kirjat JSON</button>
	</a>
	
	<h1>Get book by id</h1>
	<a href="/book/32">
	<button class="btn btn-success btn-lg">Näytä id:n avulla haettu kirja JSON</button>
	</a>
	
	<h1>All categories</h1>
	<a href="/categories">
	<button class="btn btn-success btn-lg">Näytä Kaikki kategoriat JSON</button>
	</a>
	
	<h1>Get category by id</h1>
	<a href="/category/29">
	<button class="btn btn-success btn-lg">Näytä id:n avulla haettu kategoria JSON</button>
	</a>
	
	
	
	 
	 
</body>
</html>